header {
  background: #201b2c;
}

header li {
  list-style: none;
}

header a {
  text-decoration: none;
  color: #fff;
}

header > .navbar > .title-app > .name > a {
  padding: 0.15em;
  border-radius: 6px;
  font-weight: 800;
  letter-spacing: 3px;
  color: #2b134b;
  background: #00ff88;
  cursor: pointer;
  box-shadow: 0 10px 10px -12px #00ff8052;
}

.menu-left,
.title-app {
  display: flex;
  align-items: center;
}

.menu-left {
  width: 44vw;
  margin-left: 2.5em;
}

.title-app {
  width: 51vw
}

.title-app > .name {
  margin-right: 0.75rem;
}

.icon-user {
  display: flex;
}

.icon-user .avatar-circle {
  border-radius: 50%;
  align-items: center;
  display: flex;
}

.navbar {
  min-height: 70px;
  display: flex !important;
  align-items: center;
  font-size: 1.15rem;
  width: 100vw;
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-branding {
  font-size: 2rem;
}

.nav-link {
  transition: 0.7s ease;
}

.nav-link:hover {
  color: #00ff88;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

@media (max-width: 1200px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    top: 70px;
    left: -100%;
    gap: 0;
    width: 100%;
    background: #201b2c;
    flex-direction: column;
    transition: 0.3s;
    text-align: center;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }
}

@media only screen and (max-width: 600px) {
  .menu-left {
    width: 50%;
    margin-left: 2.5em;
  }
  
  .title-app {
    width: 100%;
  }
  
}