header {
  background: #2f2841;
  min-height: 70px;
  display: flex;
}

header li {
  list-style: none;
}

header a {
  text-decoration: none;
  color: #fff;
}

.navbar {
  min-height: 70px;
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  position: absolute;
}

.menu-left {
  padding-left: 1.5em;
}

.menu-left {
  display: flex;
  align-items: center;
}


.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-link {
  transition: 0.7s ease;
}

.nav-link:hover {
  color: #00ff88;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

@media (max-width: 1500px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: absolute;
    top: 70px;
    left: -100%;
    gap: 0;
    width: 100%;
    background: #2f2841;
    flex-direction: column;
    transition: 0.3s;
    text-align: center;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }
}

